@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap'); */

body {
  font-family: 'Poppins', sans-serif;
}

.shadowPlane0 {
  box-shadow: #cadae7 3px 3px 6px 0px inset, #ffffff80 -3px -3px 6px 1px inset;
}
.shadowPlane1 {
  box-shadow: #00000029 0px 0px 4px;
}

.shadowPlane2 {
  box-shadow: #b8bec4 3px 3px 6px 0px inset, #ffffff80 -3px -3px 6px 1px inset;
}

.shadow1 {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.primaryColor {
  color: #3e2ddf;
}

.linedBorder {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23333' stroke-width='2.5' stroke-dasharray='6' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 50%;
  /* opacity: 0.08; */
}

.triangle {
  width: 0;
  height: 0;
  border-left: 8rem solid transparent;
  border-right: 8rem solid transparent;
  border-top: 9.5rem solid #49e2db;
  border-radius: 8rem;
}

.test {
  color: #0e1627;
  color: #dbe1ea;
}
